<div class="side_bar">
  <div class="before_order">
    <div class="before">before</div>
    <%= link_to "新着順", root_path, class: :order %>
    <%= link_to "削減コストランキング", root_path(sort_costs:"true"), class: :order %>
  </div>
  <div class="after_order">
    <div class="after">after</div>
    <%= link_to "新着順", executions_path, class: :order %>
    <%= link_to "削減コストランキング", executions_path(sort_costs:"true"), class: :order %>
  </div>
</div>