// Place all the styles related to the executions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$Border : gray;
$cBlack: #00000078;
$cGray: #808080eb;
$Text: #000000c2;
/* After一覧表示ページ */
.total {
  text-align: center;
  color: gray;
  font-weight: bold;
}

.total_hours,.total_costs {
  border-bottom: 1px solid $Border;
}

.execution_detail {
  height: 285px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.before_detail,.after_detail {
  display: flex;
}

.execution_image {
  border: 1px solid $Border;
  border-right: none;
  width: 272px;
}

.execution_text_all {
  overscroll-behavior-y: contain;
  overflow: auto;
  border: 1px solid $Border;
  width: 272px;
}

.execution_title_btn {
  border-radius: 5px;
  color: Black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.execution_title {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.before_after_user_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  & span {
  color: $cBlack;
  }
}

.before_user_name {
  border-bottom: 1px solid $Border;
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.after_user_name {
  border-bottom: 1px solid $Border;
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.before_after_character {
  display: flex;
  margin: 20px 0 5px;
  color: $cBlack;
}

.before_character {
  margin-right: 445px;
}

/* 改善提案実行ページ(投稿ページ) */
.new_main_execution {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #ffffff;
  overflow-y: scroll;
}

.new_execution {
  margin: 30px;
  padding: 30px;
  background-color: #f1f8fe;
  border: 1px solid $Border;
  border-radius: 20px;
}

.new_execution_detail {
  height: 400px;
  display: flex;
  justify-content: space-around;
}

.new_before_content {
  height: 400px;
}

.new_before_proposal {
  display: flex;
}

.new_before_image {
  width: 300px;
  height: 300px;
  border: 1px solid $Border;
}

.new_before_text {
  width: 300px;
  height: 300px;
  overscroll-behavior-y: contain;
  overflow: auto;
  border: 1px solid $Border;
}

.new_after_content {
  width: 350px;
  height: 400px;
}

.top_before_character {
  margin-bottom: 30px;
  color: $cBlack;
}

.top_after_character {
  margin-bottom: 5px;
  color: $cBlack;
}

.new_before_calc_detail{
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $Border;
  padding-bottom: 3px;
  & span {
    padding: 10px 5px 10px 0;
  }
}

.new_after_calc_detail {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $Border;
  padding-bottom: 3px;
  margin-top: 10px;
  & span {
    padding: 10px 0;
  }
}

.new_execution_calc {
  margin-top: 30px;
}