@charset "UTF-8";
/******************************************************** 
  リセットCSS
********************************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/******************************************************** 
  ヘッダー
********************************************************/
header {
  background-color: #f1f8fe;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid black;
}

.header_bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 40px;
  font-size: 23px;
  letter-spacing: 1.8px;
  font-weight: 100;
}
.logo a {
  text-decoration: none;
  color: black;
}

.nav_right {
  margin-right: 40px;
}

.nav_btn {
  line-height: 32px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-right: 20px;
}

.nav_logout {
  line-height: 32px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/******************************************************** 
  サイドバー
********************************************************/
.wrapper {
  display: flex;
}

.side_bar {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: #f1f8fe;
  border-right: 2px solid black;
}

.before_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  letter-spacing: 1px;
}

.order {
  padding: 5px;
  text-decoration: none;
}

.after_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}

.after_order a {
  text-decoration: none;
}

/******************************************************** 
  メイン(共通部分)
********************************************************/
.main_view {
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);
  background-color: #ffffff;
}

.main_top {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 188, 212, 0.26);
  display: flex;
  align-items: center;
}

.order_title {
  padding-left: 20px;
}

.main_contents {
  width: 100%;
  height: calc(100vh - 100px - 50px);
  overflow-y: scroll;
}

.proposal {
  margin: 30px;
  padding: 30px;
  background-color: #f1f8fe;
  border: 2px solid black;
  border-radius: 20px;
}

.image_tag {
  width: 100%;
  height: 100%;
}

.before_calc, .after_calc {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
.before_calc span, .after_calc span {
  padding: 10px 0;
}

.numeric {
  padding: 10px 10px;
}

.arrow {
  margin: 0 auto;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: red;
}

.calc_result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.reduced_man_hours, .reduced_costs {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
}

.various_btn {
  display: flex;
  align-items: center;
  justify-content: end;
  letter-spacing: 1px;
}

.action_btn {
  padding: 5px;
  text-decoration: none;
}

.bottom_before_character, .bottom_after_character {
  font-weight: bold;
  margin-left: 35px;
}

.text {
  padding: 0 5px 10px 5px;
}
.text span {
  font-weight: bold;
}

/******************************************************** 
  トップページ(Before一覧表示)
********************************************************/
.title_btn {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
  color: rgba(0, 187, 212, 0.8);
  cursor: pointer;
}

.title {
  width: 85%;
  text-align: left;
  padding-left: 20px;
}

.proposal_user_name {
  text-align: right;
  padding-right: 20px;
}

.detail {
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  border: 1px solid black;
  width: 300px;
}

.text_all, .comments {
  overscroll-behavior-y: contain;
  overflow: auto;
  border: 1px solid black;
  border-left: none;
  width: 300px;
}

#show_before_man_hours, #show_before_costs, #show_after_man_hours,
#show_after_costs, #show_hourly_wage, #show_reduced_man_hours,
#show_reduced_costs {
  padding: 10px 10px;
  display: inline-block;
}/*# sourceMappingURL=proposals.css.map */