@charset "UTF-8";
/* ヘッダー */
header {
  background-color: #f1f8fe;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid black;
}

.header_bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 40px;
  font-size: 23px;
  letter-spacing: 1.8px;
  font-weight: 100;
}
.logo a {
  text-decoration: none;
  color: black;
}

.nav_right {
  margin-right: 40px;
}

.nav_btn {
  line-height: 32px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-right: 20px;
}

.nav_logout {
  line-height: 32px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* サイドバー */
.wrapper {
  display: flex;
}

.side_bar {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: #f1f8fe;
  border-right: 2px solid black;
}

.before_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  letter-spacing: 1px;
}

.order {
  padding: 5px;
  text-decoration: none;
}

.after_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}

.after_order a {
  text-decoration: none;
}

/* メイン(共通部分) */
.main_view {
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);
  background-color: #ffffff;
}

.main_top {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 188, 212, 0.26);
  display: flex;
  align-items: center;
}

.order_title {
  padding-left: 20px;
  font-weight: bold;
}

.main_contents {
  width: 100%;
  height: calc(100vh - 100px - 50px);
  overflow-y: scroll;
}

.proposal {
  margin: 30px;
  padding: 30px;
  background-color: #f1f8fe;
  border: 2px solid black;
  border-radius: 20px;
}

.image_tag {
  width: 100%;
  height: 100%;
}

.before_calc, .after_calc {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
.before_calc span, .after_calc span {
  padding: 10px 0;
}

.numeric {
  padding: 10px 10px;
}

.arrow {
  margin: 0 auto;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: red;
}

.calc_result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.reduced_man_hours, .reduced_costs {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
}

.various_btn {
  display: flex;
  align-items: center;
  justify-content: end;
  letter-spacing: 1px;
}

.bottom_before_character, .bottom_after_character {
  font-weight: bold;
  margin-left: 35px;
}

.text {
  padding: 0 5px 10px 5px;
}
.text span {
  font-weight: bold;
}

.action_btn {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  padding: 7px 35px;
  cursor: pointer;
  transition: all 0.5s;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
.action_btn:hover {
  background-color: black;
  color: white;
}

/* アコーディオン */
.accordion__content {
  display: none;
}

.accordion__content.is__open {
  display: block;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

/* トップページ(Before一覧ページ)*/
.title_btn {
  border: 1px solid black;
  border-radius: 5px;
  color: rgba(0, 187, 212, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.title {
  padding-left: 20px;
}

.proposal_user {
  padding: 0 20px;
  margin-top: 25px;
}

.proposal_user_name {
  width: 155px;
  display: flex;
  justify-content: space-between;
}
.proposal_user_name span {
  color: black;
}

.detail {
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 20px 0 20px;
}

.image {
  border: 1px solid black;
  width: 300px;
}

.text_all, .comments {
  overscroll-behavior-y: contain;
  overflow: auto;
  border: 1px solid black;
  border-left: none;
  width: 300px;
}

#show_before_man_hours, #show_before_costs, #show_after_man_hours,
#show_after_costs, #show_hourly_wage, #show_reduced_man_hours,
#show_reduced_costs {
  padding: 10px 10px;
  display: inline-block;
}

/* 投稿ページ(共通) */
.field_with_errors {
  display: contents;
}

.new_form {
  width: 100%;
  height: 100%;
}

.new_text {
  width: 100%;
}

.numeric_input {
  width: 111px;
}

.new_calc_result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.new_reduced_man_hours, .new_reduced_costs {
  border-bottom: 1px solid black;
}

.actions {
  text-align: right;
  margin-right: 100px;
}

#submit {
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.5s;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
#submit:hover {
  background-color: black;
  color: white;
}

/* 改善提案投稿ページ */
.new_main_proposal {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #ffffff;
  overflow-y: scroll;
}

.new_proposal {
  margin: 30px;
  padding: 30px;
  background-color: #f1f8fe;
  border: 3px solid black;
  border-radius: 20px;
}

.new_proposal_detail {
  margin-bottom: 15px;
}

.new_character {
  font-weight: bold;
  margin-left: 30px;
}

#title {
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.new_content {
  width: 350px;
  height: 400px;
  margin-left: 120px;
}/*# sourceMappingURL=proposals.css.map */